/*@media (min-width: 768px){
.navbar-expand-md {
    flex-wrap: nowrap;
    justify-content: flex-start;
}
}*/
.panda-bg-info{
    background-color: #777777;
}
.panda-btn-buy-now{
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    background-color: #0d6efd;
    border: none;
}
